[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/x-ms-wmv;video/mpeg;video/x-m4v;video/mp2t;video/x-flv;
Actions=ConvertVideo;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true
Icon=big-video-converter

[Desktop Action ConvertVideo]
Icon=big-video-converter
Name=Convert Video
Name[pt]=Converter Vídeo
Name[es]=Convertir Video
Name[bg]=Конвертирай Видео
Name[cs]=Převést Video
Name[da]=Konverter Video
Name[de]=Video Konvertieren
Name[el]=Μετατροπή Βίντεο
Name[et]=Teisenda Video
Name[fi]=Muunna Video
Name[fr]=Convertir Vidéo
Name[he]=המר וידאו
Name[hr]=Pretvori Video
Name[hu]=Videó Átalakítás
Name[is]=Breyta Myndbandi
Name[it]=Converti Video
Name[ja]=ビデオを変換
Name[ko]=비디오 변환
Name[nl]=Video Converteren
Name[no]=Konverter Video
Name[pl]=Konwertuj Wideo
Name[ro]=Convertește Video
Name[ru]=Конвертировать Видео
Name[sk]=Konvertovať Video
Name[sv]=Konvertera Video
Name[tr]=Video Dönüştür
Name[uk]=Конвертувати Відео
Name[zh]=转换视频
Exec=big-video-converter-gui %U
