[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/x-ms-wmv;video/mpeg;video/x-m4v;video/mp2t;video/x-flv;
Actions=ConvertVideo;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true
Icon=big-video-converter

[Desktop Action ConvertVideo]
Icon=big-video-converter
Name=Convert or Cut Video
Name[pt]=Converter ou Cortar Vídeo
Name[es]=Convertir o Cortar Vídeo
Name[bg]=Конвертирай или изрежи Видео
Name[cs]=Převést nebo střihnout video
Name[da]=Konverter eller klip Video
Name[de]=Video konvertieren oder schneiden
Name[el]=Μετατροπή ή Κόψιμο Βίντεο
Name[et]=Teisenda või lõika Video
Name[fi]=Muunna tai leikkaa Video
Name[fr]=Convertir ou couper la Vidéo
Name[he]=המר או חתוך וידאו
Name[hr]=Pretvori ili izreži Video
Name[hu]=Videó konvertálása vagy vágása
Name[is]=Breyta eða klippa Myndbandi
Name[it]=Converti o Taglia Video
Name[ja]=ビデオを変換またはカット
Name[ko]=비디오 변환 또는 자르기
Name[nl]=Video converteren of knippen
Name[no]=Konverter eller klipp Video
Name[pl]=Konwertuj lub przytnij Wideo
Name[ro]=Convertește sau taie Video
Name[ru]=Конвертировать или обрезать Видео
Name[sk]=Konvertovať alebo strihať Video
Name[sv]=Konvertera eller klipp Video
Name[tr]=Video Dönüştür veya Kes
Name[uk]=Конвертувати або обрізати Відео
Name[zh]=转换或剪辑视频
Exec=big-video-converter-gui %U
