[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/x-ms-wmv;video/mpeg;video/x-m4v;video/mp2t;video/x-flv;
Actions=ConvertVideo;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true
Icon=big-video-converter

[Desktop Action ConvertVideo]
Icon=big-video-converter
Name=Convert or cut video
Name[pt]=Converter ou cortar vídeo
Name[es]=Convertir o cortar vídeo
Name[bg]=Конвертирай или изрежи Видео
Name[cs]=Převést nebo střihnout video
Name[da]=Konverter eller klip video
Name[de]=Video konvertieren oder schneiden
Name[el]=Μετατροπή ή Κόψιμο Βίντεο
Name[et]=Teisenda või lõika video
Name[fi]=Muunna tai leikkaa video
Name[fr]=Convertir ou couper la vidéo
Name[he]=המר או חתוך וידאו
Name[hr]=Pretvori ili izreži video
Name[hu]=Videó konvertálása vagy vágása
Name[is]=Breyta eða klippa myndbandi
Name[it]=Converti o taglia video
Name[ja]=ビデオを変換またはカット
Name[ko]=비디오 변환 또는 자르기
Name[nl]=Video converteren of knippen
Name[no]=Konverter eller klipp video
Name[pl]=Konwertuj lub przytnij wideo
Name[ro]=Convertește sau taie video
Name[ru]=Конвертировать или обрезать Видео
Name[sk]=Konvertovať alebo strihať video
Name[sv]=Konvertera eller klipp video
Name[tr]=Video dönüştür veya Kes
Name[uk]=Конвертувати або обрізати Відео
Name[zh]=转换或剪辑视频
Exec=big-video-converter-gui %U
